$black : #000000;
$dark : #081516;
$gray : #ECEDEE;
$white : #ffffff;

// Spacing
$pad : 1em;

// Breakpoints
$extraSmallBreakpoint : 476px;
$smallBreakpoint : 768px;
$largeBreakpoint : 1024px;
$extraLargBreakpoint : 1600px;

